* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #D5E1EF;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;

    background-color: #ffffff;
    width: 320px;


}

main img {
    width: 90%;
    margin-top: 5%;
    border-radius: 12px;


}

main h3 {
    text-align: center;
    font-size: 1.4em;
    margin: 5%;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: #223350;
    margin-bottom: 0;
    margin-top: 10%
}

main p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 5%;
    font-size: 15px;
    padding-bottom: 18px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
    color: #949AA6;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}